.header {
    background-color: #420000;
    padding: 1rem;
  }
  
  .header nav ul {
    list-style-type: none;
    display: flex;
    gap: 1rem;
  }
  
  .header nav ul li a {
    color: white;
    text-decoration: none;
  }
  
  .header nav ul li a:hover {
    text-decoration: underline;
  }
  